/*#xPiece-r1c1 {
  opacity: 0;
}*/

body {
  /*background-color: #CACFD6;*/
  font-family: helvetica;
}

.hide {
  opacity: 0;
}

h1 {
  font-size: 3em;
}

#fixed {
  display: none;
  position: absolute;
  top: 220px;
  left: 110px;
  background-color: black;
  opacity: 0.5;
  z-index: 300;
  color: white;
}

svg {
  z-index: -1;
}
