
body {
  font-family: helvetica;
  background-color:  #8661C1;

}

.hide {
  opacity: 0;
}

h1 {
  font-size: 5em;
  text-align: center;
  font-family: 'lobster', cursive;
  color: white;
  opacity: 0;
}

.x, .o {
  color:#40F99B;
}


#overlay {
  display: none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color: black;
  opacity: 0.5;
  color: white;
}

#endGameMsg {
  position: relative;
  top: 25%;
}

p {
  color: white;
  font-family: 'lobster';
  font-size: 6em;
  text-align: center;
}

svg {
  z-index: -1;
}

.container {
margin: 0 auto;
max-width: 800px;
padding: 0;
}

#gameBoard {
  opacity: 0;
}


@media (max-width: 550px) {
  h1 {
    font-size: 3.5em;
  }
  p {
    font-size: 3.5em;
  }
}
